*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{

background:#edf2f7;

color:#222;

}

/* HEADER */

header{

background:#0b3d91;

color:white;

padding:25px 40px;

display:flex;

justify-content:space-between;

align-items:center;

flex-wrap:wrap;

box-shadow:0 3px 8px rgba(0,0,0,.2);

}

header p{

opacity:.85;

margin-top:5px;

}

.login-btn{

background:white;

color:#0b3d91;

padding:12px 18px;

border-radius:8px;

text-decoration:none;

font-weight:bold;

transition:.3s;

}

.login-btn:hover{

background:#dce7ff;

}

/* NAVIGATION */

nav{

display:flex;

justify-content:center;

gap:15px;

padding:20px;

flex-wrap:wrap;

}

.filter{

border:none;

padding:12px 20px;

cursor:pointer;

border-radius:30px;

background:white;

font-size:15px;

box-shadow:0 2px 5px rgba(0,0,0,.1);

transition:.3s;

}

.filter:hover{

background:#0b3d91;

color:white;

}

.active{

background:#0b3d91;

color:white;

}

/* MAIN */

main{

max-width:1100px;

margin:auto;

padding:20px;

}

/* ANNOUNCEMENT CARD */

.card{

background:white;

padding:25px;

border-radius:12px;

margin-bottom:20px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.card h2{

margin-bottom:10px;

color:#0b3d91;

}

.info{

display:flex;

gap:10px;

flex-wrap:wrap;

margin-bottom:15px;

}

.badge{

padding:5px 12px;

border-radius:20px;

font-size:13px;

color:white;

}

.general{

background:#2c7be5;

}

.exams{

background:#9c27b0;

}

.sports{

background:#16a34a;

}

.homework{

background:#f59e0b;

}

.low{

background:#4caf50;

}

.medium{

background:#ff9800;

}

.high{

background:#e53935;

}

/* LOGIN */

.login-page{

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.login-card{

background:white;

padding:40px;

border-radius:12px;

width:350px;

box-shadow:0 10px 30px rgba(0,0,0,.15);

}

.login-card h2{

text-align:center;

margin-bottom:10px;

color:#0b3d91;

}

.login-card p{

margin-bottom:20px;

text-align:center;

}

.login-card input{

width:100%;

padding:12px;

margin-bottom:15px;

border:1px solid #ccc;

border-radius:8px;

}

.login-card button{

width:100%;

padding:12px;

background:#0b3d91;

color:white;

border:none;

border-radius:8px;

font-size:16px;

cursor:pointer;

}

.login-card button:hover{

background:#082f73;

}

.login-card a{

display:block;

margin-top:20px;

text-align:center;

text-decoration:none;

color:#0b3d91;

}

#error{

color:red;

font-size:14px;

}
textarea,
select{

width:100%;

padding:12px;

margin-bottom:15px;

border-radius:8px;

border:1px solid #ccc;

font-size:15px;

}


textarea{

height:150px;

resize:none;

}


#logoutBtn{

background:white;

color:#0b3d91;

border:none;

padding:10px 20px;

border-radius:8px;

font-weight:bold;

cursor:pointer;

}


#postBtn{

width:100%;

padding:12px;

background:#0b3d91;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

font-size:16px;

}
